span.data-grid-container,
span.data-grid-container:focus {
  outline: none;
}

.data-grid-container .data-grid,
.css-7392m-MuiTable-root {
  table-layout: fixed;
  border-collapse: separate !important;
  border-spacing: 0.2em 0.2em !important;
  z-index: 5;
  width: 100%;
}

.data-grid-container .data-grid .cell.updated {
  background-color: rgba(0, 145, 253, 0.16);
  transition: background-color 0ms ease;
}
.data-grid-container .data-grid .cell,
.css-hn4psl-MuiTableCell-root,
.css-1flphfy-MuiTableCell-root,
.css-n396gc-MuiTableCell-root {
  height: calc(100% + 20px);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: cell;
  background-color: unset;
  transition: background-color 500ms ease;
  vertical-align: middle;
  border-radius: 3px !important;
  vertical-align: middle !important;
}
.data-grid-container .data-grid .cell.selected {
  border: 2px double rgb(33, 133, 208);
  transition: none;
  box-shadow: inset 0 -100px 0 rgba(33, 133, 208, 0.15);
}

.data-grid-container .data-grid .cell.read-only {
  background: #5b5d6e;
  color: rgb(255, 255, 255);
  text-align: center !important;
  margin: 2px;
  /* border: 2px solid lightgray; */
  font-weight: 500;
  position: sticky;
  left: 0;
  z-index: 2;
  /* width: 20%; */
  border-radius: 10px;
}

.data-grid-container .data-grid .cell > .text {
  padding: 2px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.data-grid-container .data-grid .cell > input {
  outline: none !important;
  /* border: 2px solid rgb(33, 133, 208); */
  text-align: right;
  width: calc(100% - 6px);
  height: 100%;
  background: transparent;
  display: block;
  border: none;
}

.data-grid-container .data-grid .cell {
  vertical-align: bottom;
}

.data-grid-container .data-grid .cell,
.data-grid-container .data-grid.wrap .cell,
.data-grid-container .data-grid.wrap .cell.wrap,
.data-grid-container .data-grid .cell.wrap,
.data-grid-container .data-grid.nowrap .cell.wrap,
.data-grid-container .data-grid.clip .cell.wrap {
  white-space: normal;
}

.data-grid-container .data-grid.nowrap .cell,
.data-grid-container .data-grid.nowrap .cell.nowrap,
.data-grid-container .data-grid .cell.nowrap,
.data-grid-container .data-grid.wrap .cell.nowrap,
.data-grid-container .data-grid.clip .cell.nowrap {
  white-space: nowrap;
  overflow-x: visible;
}

.data-grid-container .data-grid.clip .cell,
.data-grid-container .data-grid.clip .cell.clip,
.data-grid-container .data-grid .cell.clip,
.data-grid-container .data-grid.wrap .cell.clip,
.data-grid-container .data-grid.nowrap .cell.clip {
  white-space: nowrap;
  overflow-x: hidden;
}

.data-grid-container .data-grid .cell .value-viewer,
.data-grid-container .data-grid .cell .data-editor {
  display: block;
}

.data-grid-container .data-grid .cell.read-only.row-head {
  text-align: left !important;
  padding-left: 10px;
  max-width: 600px;
}
.data-grid-container .data-grid .cell.read-only.shrink {
  width: 'auto';
}

.swal-title,
.swal-button .swal-button--confirm {
  font-size: 10px !important;
}
.calc {
  background-color: #5b5d6e38 !important;
  border: 2px solid rgb(189 190 193) !important;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 10px;
}

.editing textarea {
  /* width: 100% !important; */
  /* height: auto !important; */
  outline: none !important;
  /* border: 2px solid rgb(33, 133, 208); */
  text-align: right;
  width: calc(100% - 6px);
  /* height: 100%; */
  background: transparent;
  display: block;
  border: none;
  text-align: justify;
  height: 20px;
}

.cell,
.css-hn4psl-MuiTableCell-root {
  border-radius: 2px !important;
  border: 2px solid lightgray;
}

.cell.read-only,
.css-1flphfy-MuiTableCell-root,
.css-n396gc-MuiTableCell-root {
  border: none !important;
}
